@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');
:root{
    --Pink: hsl(322, 100%, 66%);
    --LightPink: hsl(321, 100%, 78%);
    --LightRed:hsl(0, 100%, 63%);
    --VeryDarkCyan: hsl(192, 100%, 9%);
    --VeryPaleBlue: hsl(207, 100%, 98%);
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif;
}
*{
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    /* padding: 78px 62px; */
    padding: 0px;
    margin: 0px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
body>*{
    width: 100%;
}

/* HEADER __________________________________________ */
header{
    display: flex;
    padding-left: 18px;
    align-items: center;
    justify-content: space-between;
}

header>button{
    background-color: transparent;
    border: 1px solid var(--Pink);
    border-radius: 30px;
    padding: 10px 31px;
    font-size: 16px;
    color: var(--Pink);
}


/* SECTION 1 ______________________________________ */
.section1{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 228px;
}

.section1>h1{
    color: var(--VeryDarkCyan);
    font-size: 3.0rem;
    line-height: 0px;
}

.section1>p{
    font-size: 20px;
    max-width: 45%;
    color: var(--VeryDarkCyan);
    line-height: 30px;
    margin-top: 16px;
}

.section1>button{
    padding: 28px 100px;
    font-size: 22px;
    background-color: var(--Pink);
    border-radius: 50px;
    border: none;
    color: var(--VeryPaleBlue);
    margin-top: 28px;
    
}

.stats-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 83.5%;
    
}

.stat-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.stat-item>strong{
    font-size: 5.9rem;
    color: var(--VeryDarkCyan);
    font-family: 'Open Sans', sans-serif;
    /* line-height: 0px; */
    margin: 0px;
}
.stat-item>p{
    color: var(--Pink);
    align-self: center;
    font-size: 22px;
}

.section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.section>img{
    width: 100%;
}

/* .bg{
    position: absolute;
    z-index: -1;
    background-color: 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    
} */

.section-content-main{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--VeryPaleBlue);
    flex-basis: 100%;
    width: 100%;
    padding: 10px 130px;

}
.section-content>h1{
    font-size: 2.5rem;
    margin: 0px;
}
.section-content>p{
    margin: 0px;
}
.section-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}
.section-image{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.section-image>img{
    width: 84%;

}
.section-content-main.bg-white{
    background-color: white;
}
.bg-middle{
    height: 100%;
}


